#Ignorar estos elementos
#Esto es un comentario 
site/bower_components


fd96e5c33

4ceffffa1

08.se estiliza aplicacion y se carga script de bootstrap y jquery


instalar en bower -- bootstrap sweetalert 